/* canvas {
    border: 2px solid black;
} */

body {
background-color: #9575cd;
}
nav {
    height: 84px;
    line-height: 84px;
}

nav .brand-logo {
    padding: 0px 30px;
}

nav .nav-wrapper{
    background-color: #0097a7;
}

.sidenav {
    background-color: #b2ff59;
}
.sidenav li>a {
    color: #655f76;
}

.profImg{
    height: 25%;
    width: 25%;
}
@media only screen and (max-width: 450px) {
    nav {
        height: 100px;
        line-height: 100px;
    }
    nav .brand-logo{
      width: 55%;
    }

}