/* General CSS for the whole page */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #bbaebd;
}
a {
    color: #603666;
}
.material-icons{
    font-size: 45px;
}
/* Navigation styling for small mobile */
nav {
    background-color: #603666;
}
nav .brand-logo {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.5rem;
    min-width: 200px;
    color: #f6e7f8;
}
.myTitle{
    font-family: 'Comfortaa', cursive;
     position: relative;
     top: 17px;
     font-size: .5rem;
     left: 20%;
 }
.sidenav-overlay{
    background-color: rgba(0,0,0,0.05);
}
.sidenav{
    color: #4d283c;
    opacity: 1;
}
/* Shared CSS between all sections */
.parallax-container {
    max-width: 100%;
    max-height: 70px;
}
.textArea {
    background-color: #b9e5e6;
}
.header {
    font-family: 'Bevan', cursive;
    font-size: 1.8em;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
p {
     text-indent: 10%;
     text-align: left;
     padding: 5px;
     margin: 0 auto;
     word-wrap: break-word;
     overflow-wrap: break-word;
 }
.paraImg{
    opacity: 0.75;
    object-fit: contain;
 }
 .row{
     margin-bottom: 10px;
 }
/* About Me Specific CSS */
.profImg {
    width: 145px;
    height: 150px;
    clip-path: ellipse(41% 42% at 54% 51%);
    float: right;
    padding: 8px 2px 8px 8px;
}
/* Contact Specific CSS */
div.contactIcons{
    text-align: center;
    
}
.contactIcons a{
    display: inline-block;
    margin: 5px 25px;
}
.linkedInImg, .githubImg{
    width: 52px;
    height: 48px;
}
/* Work Specific CSS */
div .card-action{
    text-align: center;
}
.card .card-action{
    padding: 15px;
}
a .sdLink{
    color: #4d283c;
}
.card .card-content{
    padding: 15px;
}
/* Special Cases */
/* Text within Contact and Work sections */
.contTxt, .workTxt{
     text-align: center;
     text-indent: 0;
 }


/* Responsiveness for Several Viewport sizes */
/* Larger Cell Phones */
@media screen and (min-width: 420px) {
    .myTitle{
        left: 25%;
    }
}
/* Tablet sized screens */
 @media screen and (min-width: 760px) {
    nav .brand-logo{
        font-size: 2rem;
    }
    .pageCont{
        margin: 0 auto;
        max-width: 600px;
    }
    .myTitle{
        padding: 10px 0px;
        font-size: .75rem;
        left: 23%;
    }
    nav a.sidenav-trigger i {
        padding: 0px 0px 0px 85px;
    }
    div .card{
        width: 490px;
    }
    .workTxt p{
        text-align: center;
    }
 }
/* Common Laptop screen size */
 @media screen and (min-width: 1020px){
    nav .brand-logo{
        position: relative;
        left: 40%;
    } 
    .myTitle{
         left: 23%;
     }
     nav ul a{
         font-size: 0.8rem;
     }
     div .card{
        width: 430px;
    }
    .card-image img{
        height: 280px;
    }
 }
/* Larger Laptop screen size */
 @media screen and (min-width: 1440px){
     nav .brand-logo{
        left: 43%;
     }
     .myTitle{
         left: 30%;
     }
     div .card{
         width: 400px;
     }
 }